version: "3.0"

services:
  mongodb:
    image: mongo:8.0
    container_name: mongodbWS
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password

volumes:
  mongo-data:
    driver: local
